/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: width 0.5s ease;
    padding-top: 60px;
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    display: block;
    opacity: 1;
}

/* Main Content */
.main-content {
    margin-left: 0;
    padding: 2rem;
    flex: 1;
    overflow-y: auto;
    background-color: #f4f4f4;
    transition: margin-left 0.3s ease;
}

.main-content.expanded {
    margin-left: 250px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar .welcome {
    font-size: 1.2rem;
    font-weight: bold;
}

.topbar .notifications {
    display: flex;
    gap: 1rem;
}

.topbar .icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.topbar .icon:hover {
    color: #007BFF;
}

.dashboard-section {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-section h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 200px;
    background-color: #f4f8fd;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.2rem;
    color: #007BFF;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
